Repository open-edge-platform/model_api, changes with the labels that .github/labeler.yml gives for each.
All labels: cpp, python, tests, docs, build

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

cpp:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/cpp/*

python:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/python/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "**/*.md"
          - "LICENSE"

build:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - "pyproject.toml"
          - "**/CMakeLists.txt"

Attempt to fix serving_api tests
  .github/workflows/test_accuracy.yml
  src/cpp/install_dependencies.sh
  tests/cpp/precommit/prepare_data.py
  tests/cpp/precommit/public_scope.json
Labels: build

Use old InputParser for test_accuracy
  tests/cpp/test_accuracy.cpp
Labels: none

Remove async from public api side
  examples/cpp/CMakeLists.txt
  examples/cpp/README.md
  examples/cpp/asynchronous_api/README.md
  examples/cpp/asynchronous_api/main.cpp
  examples/cpp/main.cpp
  src/cpp/include/tasks/detection.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/vision_pipeline.h
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: docs, build

Remove empty line between template and class
  src/cpp/include/utils/vision_pipeline.h
Labels: none

Start implementing classification model
  examples/cpp/main.cpp
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/results.h
  src/cpp/src/tasks/classification.cpp
Labels: none

Implement multilabel post processing
  src/cpp/include/tasks/classification.h
  src/cpp/src/tasks/classification.cpp
Labels: none

Implement hierarchical and resolvers
  examples/cpp/main.cpp
  src/cpp/CMakeLists.txt
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/classification/resolvers.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/classification/resolvers.cpp
Labels: build

Enable classification in accuracy tests
  src/cpp/include/tasks/classification.h
  src/cpp/src/tasks/classification.cpp
  tests/cpp/public_scope.json
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Clean up config retrievals using get_from_any_maps
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/src/tasks/detection/ssd.cpp
Labels: none

Remove rogue cout
  examples/cpp/main.cpp
Labels: none

Implement classification serialization WIP
  examples/cpp/main.cpp
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/classification/resolvers.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/classification/resolvers.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Fix classification serialization
  src/cpp/include/utils/config.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/utils/preprocessing.cpp
  tests/cpp/test_accuracy.cpp
Labels: none

Working serialization for instance and semantic segmentation
  src/cpp/include/utils/config.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/test_accuracy.cpp
Labels: none

Attempt openvino 2025.1 for failing test
  src/cpp/install_dependencies.sh
Labels: none

Add specific implementation for get_from_any_map for bool
  src/cpp/include/utils/config.h
  src/cpp/install_dependencies.sh
Labels: none

Remove input shape as input for the tasks
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: none

Satisfy clang
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: none

Refactor - Implement Classification (#304)
  src/cpp/CMakeLists.txt
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/classification/resolvers.h
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/results.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/classification/resolvers.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/preprocessing.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: build

Implement semantic segmentation tiling
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/vision_pipeline.h
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Implement anomaly detection. WIP
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/results.h
  src/cpp/src/tasks/anomaly.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Fix anomaly task
  src/cpp/src/tasks/anomaly.cpp
  tests/cpp/test_accuracy.cpp
Labels: none

Satisfy clang
  src/cpp/src/tasks/anomaly.cpp
Labels: none

pre-commit
  src/cpp/include/tasks/anomaly.h
  src/cpp/src/tasks/anomaly.cpp
Labels: none

Remove input shape
  src/cpp/include/tasks/anomaly.h
  src/cpp/src/tasks/anomaly.cpp
Labels: none

Fix normalization_scale getter from config
  src/cpp/include/tasks/anomaly.h
Labels: none

Fix bodged rebase
  src/cpp/include/tasks/results.h
  tests/cpp/test_accuracy.cpp
Labels: none

Refactor - Implement anomaly (#305)
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/results.h
  src/cpp/src/tasks/anomaly.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Update test_accuracy load_image for anomaly too
  tests/cpp/test_accuracy.cpp
Labels: none

Hide ov::Model in classification
  src/cpp/include/adapters/inference_adapter.h
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/classification.cpp
Labels: none

Cover segmentation
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: none

Cover MRCNN
  src/cpp/src/tasks/instance_segmentation.cpp
Labels: none

Cover detection
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
Labels: none

Cover anomaly
  src/cpp/src/tasks/anomaly.cpp
Labels: none

Cleanup
  src/cpp/include/adapters/inference_adapter.h
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: none

Hide ov::Model from wrappers (#309)
  src/cpp/include/adapters/inference_adapter.h
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: none

Add ONNX rt to cmake
  src/cpp/CMakeLists.txt
Labels: build

Support onnx via OV
  src/cpp/CMakeLists.txt
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/config.cpp
Labels: build

Update tests
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Adds instance segmentation tiling (NOT FINISHED)
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/instance_segmentation.cpp
  tests/cpp/test_accuracy.cpp
Labels: none

Formatting
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/instance_segmentation.cpp
Labels: none
