Repository open-edge-platform/model_api, changes with the labels that .github/labeler.yml gives for each.
All labels: cpp, python, tests, docs, build

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

cpp:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/cpp/*

python:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/python/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "**/*.md"
          - "LICENSE"

build:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - "pyproject.toml"
          - "**/CMakeLists.txt"

Revert "Clean up cmakelists, sadly its been broken since last couple commits"
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/OpenCVDependencies.cmake
Labels: build

Revert "Extract opencv dependencies and setup windows part too"
  src/cpp/py_bindings/.gitignore
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/OpenCVDependencies.cmake
Labels: build

Fix cmake file properly now for ubuntu
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/opencv.cmake
Labels: build

Fixing windows build again
  src/cpp/py_bindings/.gitignore
  src/cpp/py_bindings/CMakeLists.txt
Labels: build

Fix tests for cpp-py so that they run, not working yet
  .github/workflows/test_accuracy.yml
  tests/cpp/accuracy/test_bindings.py
Labels: build

Try to fix workflow
  .github/workflows/test_accuracy.yml
Labels: build

Remove cpp tests and use venv for building package
  .github/workflows/test_accuracy.yml
Labels: build

Remove the broken test and enable cpp tests again
  .github/workflows/test_accuracy.yml
  tests/python/accuracy/public_scope.json
Labels: build

Clean up a bit
  src/cpp/py_bindings/.gitignore
  src/cpp/py_bindings/README.md
  src/cpp/py_bindings/run.py
  src/cpp/py_bindings/src/vision_api/__init__.py
Labels: docs

make sure the .so's are included.
  src/cpp/py_bindings/pyproject.toml
Labels: none

Apply feedback, remove docker files
  examples/cpp/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/cpp/py_bindings/Dockerfile.ubuntu
  src/cpp/py_bindings/Dockerfile_test.ubuntu
  src/cpp/py_bindings/README.md
  src/cpp/py_bindings/pyproject.toml
  src/cpp/py_bindings/src/vision_api/__init__.py
  tests/cpp/accuracy/CMakeLists.txt
  tests/cpp/accuracy/test_bindings.py
  tests/cpp/precommit/CMakeLists.txt
Labels: docs, build

Rename the py project for py bindings to vision api
  src/cpp/py_bindings/pyproject.toml
Labels: none

Debug why model api is not found
  .github/workflows/test_accuracy.yml
Labels: build

Wrap Result in Scene class
  src/cpp/models/include/models/anomaly_model.h
  src/cpp/models/include/models/base_model.h
  src/cpp/models/include/models/classification_model.h
  src/cpp/models/include/models/detection_model.h
  src/cpp/models/include/models/detection_model_ssd.h
  src/cpp/models/include/models/detection_model_yolo.h
  src/cpp/models/include/models/detection_model_yolov3_onnx.h
  src/cpp/models/include/models/detection_model_yolox.h
  src/cpp/models/include/models/instance_segmentation.h
  src/cpp/models/include/models/keypoint_detection.h
  src/cpp/models/include/models/results.h
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/base_model.cpp
  src/cpp/models/src/classification_model.cpp
  src/cpp/models/src/detection_model.cpp
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/detection_model_yolox.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/models/src/keypoint_detection.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/tilers/include/tilers/detection.h
  src/cpp/tilers/include/tilers/instance_segmentation.h
  src/cpp/tilers/include/tilers/semantic_segmentation.h
  src/cpp/tilers/include/tilers/tiler_base.h
  src/cpp/tilers/src/detection.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  src/cpp/tilers/src/tiler_base.cpp
  tests/cpp/accuracy/test_YOLOv8.cpp
  tests/cpp/accuracy/test_accuracy.cpp
Labels: none

added security.md
  SECURITY.md
Labels: docs

format fix
  SECURITY.md
Labels: docs

added security.md (#288)
  SECURITY.md
Labels: docs

Add codeowners
  .github/CODEOWNERS
Labels: build

Rework Detection to new scene system
  src/cpp/models/include/models/detection_model_yolo.h
  src/cpp/models/include/models/results.h
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/detection_model_yolox.cpp
  src/cpp/tilers/include/tilers/detection.h
  src/cpp/tilers/src/detection.cpp
  tests/cpp/accuracy/test_YOLOv8.cpp
  tests/cpp/accuracy/test_accuracy.cpp
Labels: none

Add codeowners (#289)
  .github/CODEOWNERS
Labels: build

Implement Classification part: reference adjusted
  src/cpp/models/include/models/results.h
  src/cpp/models/src/classification_model.cpp
  tests/cpp/accuracy/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Transfer anomaly model to new data structure
  src/cpp/models/include/models/results.h
  src/cpp/models/src/anomaly_model.cpp
Labels: none

Update examples to work again
  examples/cpp/asynchronous_api/main.cpp
  examples/cpp/synchronous_api/main.cpp
Labels: none

Update anomaly public scope
  src/cpp/models/include/models/results.h
  tests/cpp/accuracy/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Include keypoint poses into scene
  src/cpp/models/include/models/results.h
  src/cpp/models/src/keypoint_detection.cpp
  tests/cpp/accuracy/test_accuracy.cpp
Labels: none

Rework semantic segmentation to new scene result
  src/cpp/models/include/models/results.h
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  tests/cpp/accuracy/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Implement instance segmentation to new scene object
  src/cpp/models/include/models/instance_segmentation.h
  src/cpp/models/include/models/results.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/classification_model.cpp
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/detection_model_yolox.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/tilers/include/tilers/instance_segmentation.h
  src/cpp/tilers/src/detection.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  tests/cpp/accuracy/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Migrated to "new_masks".
  src/cpp/models/include/models/results.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  tests/cpp/accuracy/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Rename new masks to masks
  src/cpp/models/include/models/results.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  tests/cpp/accuracy/test_accuracy.cpp
Labels: none

Remove return contours. Accident in commit
  src/cpp/models/src/segmentation_model.cpp
Labels: none

Clean up results.h
  src/cpp/models/include/models/results.h
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
Labels: none

Move public_scope changes to cpp folder
  .github/workflows/test_accuracy.yml
  tests/cpp/accuracy/public_scope.json
Labels: build

Fix precommit tests
  tests/cpp/precommit/test_model_config.cpp
  tests/cpp/precommit/test_sanity.cpp
Labels: none

Remove OpenCV and TBB from included dependencies for now
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/opencv.cmake
Labels: build

Install generated .so to cmake binary dir
  src/cpp/py_bindings/CMakeLists.txt
Labels: build

Remove run.py
  src/cpp/py_bindings/run.py
Labels: none

CPP Python bindings accuracy tests (#287)
  .github/workflows/test_accuracy.yml
  examples/cpp/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/cpp/py_bindings/.gitignore
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/pyproject.toml
  src/cpp/py_bindings/src/vision_api/__init__.py
  src/cpp/py_bindings/src/vision_api/py_base.cpp
  src/cpp/py_bindings/src/vision_api/py_classification.cpp
  src/cpp/py_bindings/src/vision_api/py_utils.cpp
  src/cpp/py_bindings/src/vision_api/py_utils.hpp
  src/cpp/py_bindings/src/vision_api/py_vision_api.cpp
  tests/cpp/accuracy/CMakeLists.txt
  tests/cpp/accuracy/conftest.py
  tests/cpp/accuracy/test_bindings.py
  tests/cpp/cmake/common.cmake
  tests/cpp/precommit/CMakeLists.txt
  tests/python/accuracy/public_scope.json
Labels: build

Remove ResultBase and clean up label
  src/cpp/models/include/models/results.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/classification_model.cpp
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/detection_model_yolox.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/tilers/src/detection.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
Labels: none

Satisfy pre-commit checks
  .github/workflows/test_accuracy.yml
  examples/cpp/asynchronous_api/main.cpp
  examples/cpp/synchronous_api/main.cpp
  src/cpp/include/tasks/detection.h
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/results.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/include/utils/math.h
  src/cpp/include/utils/nms.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/include/utils/tensor.h
  src/cpp/include/utils/tiling.h
  src/cpp/include/utils/vision_pipeline.h
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/config.cpp
  src/cpp/src/utils/preprocessing.cpp
  src/cpp/src/utils/tensor.cpp
  tests/cpp/matchers.h
  tests/cpp/public_scope.json
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: build

Remove precommit tests for cpp
  .github/workflows/test_precommit.yml
Labels: build
