Repository open-edge-platform/model_api, changes with the labels that .github/labeler.yml gives for each.
All labels: cpp, python, tests, docs, build

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

cpp:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/cpp/*

python:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/python/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "**/*.md"
          - "LICENSE"

build:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - "pyproject.toml"
          - "**/CMakeLists.txt"

Revamp resize test
  tests/python/unit/test_utils.py
Labels: none

Revamp resize test (#277)
  tests/python/unit/test_utils.py
Labels: none

Merge ModelBase into ImageModel
  src/cpp/models/include/models/image_model.h
  src/cpp/models/include/models/model_base.h
  src/cpp/models/src/image_model.cpp
  src/cpp/models/src/model_base.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/tiler_base.cpp
Labels: none

Update json commit
  src/cpp/CMakeLists.txt
Labels: build

Align cmake min version across the project
  tests/cpp/cmake/common.cmake
Labels: none

Update cmake in tests
  tests/cpp/accuracy/CMakeLists.txt
  tests/cpp/precommit/CMakeLists.txt
Labels: build

Use OpenCV package without GUI
  src/python/pyproject.toml
Labels: none

Fix cmake deprecation failure coming from 3rd party (#279)
  src/cpp/CMakeLists.txt
  tests/cpp/accuracy/CMakeLists.txt
  tests/cpp/cmake/common.cmake
  tests/cpp/precommit/CMakeLists.txt
Labels: build

Use OpenCV package without GUI (#280)
  src/python/pyproject.toml
Labels: none

Fix clang linter
  src/cpp/models/include/models/image_model.h
  src/cpp/models/src/image_model.cpp
Labels: none

Rename ImageModel to BaseModel
  src/cpp/models/include/models/anomaly_model.h
  src/cpp/models/include/models/base_model.h
  src/cpp/models/include/models/classification_model.h
  src/cpp/models/include/models/detection_model.h
  src/cpp/models/include/models/instance_segmentation.h
  src/cpp/models/include/models/keypoint_detection.h
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/base_model.cpp
  src/cpp/models/src/classification_model.cpp
  src/cpp/models/src/detection_model.cpp
  src/cpp/models/src/detection_model_ext.cpp
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/models/src/keypoint_detection.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/py_bindings/py_base.cpp
  src/cpp/py_bindings/py_classification.cpp
  src/cpp/tilers/include/tilers/detection.h
  src/cpp/tilers/include/tilers/instance_segmentation.h
  src/cpp/tilers/include/tilers/semantic_segmentation.h
  src/cpp/tilers/include/tilers/tiler_base.h
  src/cpp/tilers/src/detection.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  src/cpp/tilers/src/tiler_base.cpp
Labels: none

Delete outdated information from README
  README.md
Labels: docs

Update links
  docs/source/cpp/models/anomaly_model.md
  docs/source/python/models/anomaly.md
  src/python/docs/visual_prompting.md
  src/python/pyproject.toml
Labels: docs

Quote OTX as a models source
  README.md
Labels: docs

Merge ModelBase into ImageModel (#278)
  src/cpp/models/include/models/anomaly_model.h
  src/cpp/models/include/models/base_model.h
  src/cpp/models/include/models/classification_model.h
  src/cpp/models/include/models/detection_model.h
  src/cpp/models/include/models/instance_segmentation.h
  src/cpp/models/include/models/keypoint_detection.h
  src/cpp/models/include/models/model_base.h
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/base_model.cpp
  src/cpp/models/src/classification_model.cpp
  src/cpp/models/src/detection_model.cpp
  src/cpp/models/src/detection_model_ext.cpp
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/image_model.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/models/src/keypoint_detection.cpp
  src/cpp/models/src/model_base.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/py_bindings/py_base.cpp
  src/cpp/py_bindings/py_classification.cpp
  src/cpp/tilers/include/tilers/detection.h
  src/cpp/tilers/include/tilers/instance_segmentation.h
  src/cpp/tilers/include/tilers/semantic_segmentation.h
  src/cpp/tilers/include/tilers/tiler_base.h
  src/cpp/tilers/src/detection.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  src/cpp/tilers/src/tiler_base.cpp
Labels: none

Update config for docs
  docs/source/conf.py
Labels: none

Finally cleanup OMZ leftovers
  .github/workflows/publish.yaml
  src/python/model_api/adapters/openvino_adapter.py
  src/python/pyproject.toml
Labels: build

Add missing redirect to the main page
  .github/workflows/docs.yml
Labels: build

Update readme file (#281)
  README.md
  docs/source/conf.py
  docs/source/cpp/models/anomaly_model.md
  docs/source/python/models/anomaly.md
  src/python/docs/visual_prompting.md
  src/python/pyproject.toml
Labels: docs

Finally cleanup OMZ leftovers (#282)
  .github/workflows/publish.yaml
  src/python/model_api/adapters/openvino_adapter.py
  src/python/pyproject.toml
Labels: build

Update ubuntu version in gha docs runner
  .github/workflows/docs.yml
Labels: build

Add missing redirect to the main page (#283)
  .github/workflows/docs.yml
Labels: build

Update ubuntu version in gha docs runner (#284)
  .github/workflows/docs.yml
Labels: build

Update documentation
  index.html
Labels: none

Add badges to readme
  README.md
Labels: docs

Fix linter
  README.md
Labels: docs

Add badges to readme (#285)
  README.md
Labels: docs

Python binding compilation test area
  src/cpp/CMakeLists.txt
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/README.md
  src/cpp/py_bindings/pyproject.toml
  src/cpp/py_bindings/src/py_base.cpp
  src/cpp/py_bindings/src/py_classification.cpp
  src/cpp/py_bindings/src/py_utils.cpp
  src/cpp/py_bindings/src/py_utils.hpp
  src/cpp/py_bindings/src/py_vision_api.cpp
  src/cpp/py_bindings/src/vision_api/__init__.py
Labels: docs, build

Add a contribution guide
  CONTRIBUTING.md
Labels: docs

Update OV badge
  README.md
Labels: docs

Working with openvino from python package.
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/pyproject.toml
  src/cpp/py_bindings/scratch.py
  src/cpp/py_bindings/src/vision_api/__init__.py
  src/cpp/py_bindings/src/vision_api/py_base.cpp
  src/cpp/py_bindings/src/vision_api/py_classification.cpp
  src/cpp/py_bindings/src/vision_api/py_utils.cpp
  src/cpp/py_bindings/src/vision_api/py_utils.hpp
  src/cpp/py_bindings/src/vision_api/py_vision_api.cpp
Labels: build

Add Dockerfile for building the python bindings from c++
  src/cpp/install_dependencies.sh
  src/cpp/py_bindings/Dockerfile.ubuntu
Labels: none

Working python wheel package with only opencv as dependency
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/Dockerfile_test.ubuntu
  src/cpp/py_bindings/README.md
  src/cpp/py_bindings/pyproject.toml
Labels: docs, build

Clean up the Dockerfile.ubuntu for building the python package
  src/cpp/install_dependencies.sh
  src/cpp/py_bindings/Dockerfile.ubuntu
  src/cpp/py_bindings/README.md
Labels: docs

Remove rpath setting
  src/cpp/py_bindings/.gitignore
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/src/vision_api/__init__.py
Labels: build

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: docs, build

Fix linter
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs, build

Add a contribution guide and issue templates (#286)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  README.md
Labels: docs, build

Extract opencv dependencies and setup windows part too
  src/cpp/py_bindings/.gitignore
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/OpenCVDependencies.cmake
Labels: build

Clean up cmakelists, sadly its been broken since last couple commits
  src/cpp/py_bindings/CMakeLists.txt
  src/cpp/py_bindings/OpenCVDependencies.cmake
Labels: build
