Repository open-edge-platform/model_api, changes with the labels that .github/labeler.yml gives for each.
All labels: cpp, python, tests, docs, build

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

cpp:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/cpp/*

python:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/python/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "**/*.md"
          - "LICENSE"

build:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - "pyproject.toml"
          - "**/CMakeLists.txt"

Add cpp implementation
  src/cpp/models/include/models/results.h
  src/cpp/models/src/segmentation_model.cpp
Labels: none

Unify contour str reprs
  src/python/model_api/models/result/segmentation.py
Labels: none

Fix np warning
  src/python/model_api/tilers/instance_segmentation.py
Labels: none

Resolve some of corner-cases
  src/python/model_api/models/segmentation.py
Labels: none

Update refs
  tests/python/accuracy/public_scope.json
Labels: none

Update pre-commit config
  .pre-commit-config.yaml
Labels: build

Fix numpy issue
  src/python/model_api/models/segmentation.py
Labels: none

Drop python 3.9 support
  .github/workflows/test_precommit.yml
  src/python/pyproject.toml
Labels: build

Update python in ci workflows
  .github/workflows/pre_commit.yml
  .github/workflows/test_precommit.yml
Labels: build

Update ref tests results
  tests/python/accuracy/public_scope.json
Labels: none

Retain old data type for Contour init args
  src/python/model_api/models/result/segmentation.py
Labels: none

Exclude nested contours from contour confidence calculation
  src/python/model_api/models/segmentation.py
Labels: none

Exclude nested contours from prob computation
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/result/segmentation.py
  src/python/model_api/models/segmentation.py
  tests/python/accuracy/public_scope.json
Labels: none

Rename child_shapes for clarity
  src/cpp/models/include/models/results.h
  src/python/model_api/models/result/segmentation.py
Labels: none

Unify calls of drawContours
  src/python/model_api/models/segmentation.py
Labels: none

Tests debug
  .github/workflows/test_accuracy.yml
Labels: build

Update ref results
  tests/python/accuracy/public_scope.json
Labels: none

Add numpy conversion to shape
  src/python/model_api/models/result/segmentation.py
  tests/python/unit/results/test_sseg_result.py
Labels: none

Fix list of contours conversion
  src/python/model_api/models/result/segmentation.py
  tests/python/unit/results/test_sseg_result.py
Labels: none

Add support of holes to contours generation (#335)
  .github/workflows/test_accuracy.yml
  .pre-commit-config.yaml
  src/cpp/models/include/models/results.h
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/result/segmentation.py
  src/python/model_api/models/segmentation.py
  src/python/model_api/tilers/instance_segmentation.py
  tests/python/accuracy/public_scope.json
  tests/python/unit/results/test_sseg_result.py
Labels: build

Update documentation
  master/python/models/segmentation.html
  master/searchindex.js
Labels: none

Add a simplified mode for contours processing
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/segmentation.py
Labels: none

Drop python 3.9 support (#336)
  .github/workflows/pre_commit.yml
  .github/workflows/test_precommit.yml
  src/python/pyproject.toml
Labels: build

Renaming
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/segmentation.py
Labels: none

Fix mode selection logic
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/segmentation.py
Labels: none

Del salient obj det model
  src/python/model_api/models/__init__.py
  src/python/model_api/models/segmentation.py
Labels: none

Del salient obj det model (#340)
  src/python/model_api/models/__init__.py
  src/python/model_api/models/segmentation.py
Labels: none

Update documentation
  master/genindex.html
  master/objects.inv
  master/python/models/segmentation.html
  master/searchindex.js
Labels: none

Versoin up
  model_api/python/pyproject.toml
Labels: python

Add retrieval of child contours
  model_api/python/model_api/models/segmentation.py
  model_api/python/model_api/models/utils.py
Labels: none

Add a simplified mode for contours processing (#339)
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/segmentation.py
Labels: none

Update documentation
  master/python/models/segmentation.html
  master/searchindex.js
Labels: none

Fix naming in unit test
  tests/python/unit/visualizer/test_visualizer.py
Labels: none

Visualization bug fixes (#334)
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
  src/python/model_api/visualizer/scene/segmentation/segmentation.py
  src/python/model_api/visualizer/visualizer.py
  tests/python/unit/visualizer/test_scene.py
  tests/python/unit/visualizer/test_visualizer.py
Labels: none

Version up
  src/python/pyproject.toml
Labels: none

Fix trivy-scan build
  .github/workflows/security-scan.yml
Labels: build

Update readme
  README.md
Labels: docs

Fix py 3.13 compatibility in data preparation script
  tests/python/accuracy/prepare_data.py
Labels: none

Make cpp keep_ratio preprocessing graph identical to python
  src/cpp/utils/src/image_utils.cpp
Labels: none

Minor fixes (#358)
  README.md
  src/cpp/utils/src/image_utils.cpp
  tests/python/accuracy/prepare_data.py
Labels: docs
