Repository open-edge-platform/model_api, changes with the labels that .github/labeler.yml gives for each.
All labels: cpp, python, tests, docs, build

Use get_from_any_map in tiling.h
  src/cpp/include/utils/tiling.h
Labels: none

addressing zizmor findings
  .github/workflows/docs.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pre_commit.yml
  .github/workflows/publish.yaml
  .github/workflows/test_accuracy.yml
  .github/workflows/test_precommit.yml
Labels: build

added scorecards.yml
  .github/workflows/docs.yml
  .github/workflows/publish.yaml
  .github/workflows/scorecards.yml
  .github/workflows/test_accuracy.yml
  .github/workflows/test_precommit.yml
Labels: build

zizmor on pre-commit
  .pre-commit-config.yaml
Labels: build

added bandit config
  .github/workflows/security-scan.yml
  .pre-commit-config.yaml
  src/python/pyproject.toml
Labels: build

bandit fp
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
Labels: none

added security scan on pre-merge
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
Labels: build

fix bandit config
  .github/workflows/pre_commit.yml
  .pre-commit-config.yaml
Labels: build

dependabot config
  .github/dependabot.yml
  .github/workflows/security-scan.yml
Labels: build

enable CodeQL
  .github/workflows/codeql.yml
Labels: build

version upgrade
  .github/workflows/pre_commit.yml
  .github/workflows/publish.yaml
  .github/workflows/security-scan.yml
Labels: build

CodeQL CPP
  .github/workflows/codeql.yml
Labels: build

style fix
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/pre_commit.yml
  .github/workflows/scorecards.yml
  .github/workflows/security-scan.yml
  src/python/pyproject.toml
Labels: build

style fix
  README.md
  examples/cpp/asynchronous_api/README.md
  examples/cpp/synchronous_api/README.md
Labels: docs

style fix
  README.md
  examples/cpp/asynchronous_api/README.md
  examples/cpp/synchronous_api/README.md
Labels: docs

prettier-ignore
  README.md
  examples/cpp/asynchronous_api/README.md
  examples/cpp/synchronous_api/README.md
Labels: docs

Security pipeline and minor fixes (#312)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pre_commit.yml
  .github/workflows/publish.yaml
  .github/workflows/scorecards.yml
  .github/workflows/security-scan.yml
  .github/workflows/test_accuracy.yml
  .github/workflows/test_precommit.yml
  .pre-commit-config.yaml
  README.md
  examples/cpp/asynchronous_api/README.md
  examples/cpp/synchronous_api/README.md
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
  src/python/pyproject.toml
Labels: docs, build

Merge onnx config to OV model right after loading
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/config.cpp
Labels: none

Revert changes in the OV adapter
  src/cpp/src/adapters/openvino_adapter.cpp
Labels: none

Cleanup in cmake
  src/cpp/CMakeLists.txt
Labels: build

Link onnxrt publicly
  src/cpp/CMakeLists.txt
Labels: build

Security pipeline and minor fixes (#312) (#315)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pre_commit.yml
  .github/workflows/publish.yaml
  .github/workflows/scorecards.yml
  .github/workflows/security-scan.yml
  .github/workflows/test_accuracy.yml
  .github/workflows/test_precommit.yml
  .pre-commit-config.yaml
  README.md
  examples/cpp/README.md
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
  src/python/pyproject.toml
Labels: docs, build

Add a workaround to avoid unexpected conversion to int when loading list values from configs
  src/python/model_api/models/types.py
Labels: none

Add suport of str lists to ListValue
  model_api/python/model_api/models/types.py
Labels: none

Version up
  model_api/python/pyproject.toml
Labels: python

Add a workaround to avoid unexpected conversion to int when loading list values from configs (#316)
  src/python/model_api/models/types.py
Labels: none

Add a workaround to avoid unexpected conversion to int (#317)
  model_api/python/model_api/models/types.py
  model_api/python/pyproject.toml
Labels: python

Support ONNX models via OV (#310)
  src/cpp/CMakeLists.txt
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/utils/config.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/utils/config.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: build

Use non serialized models for batch so onnx can join in
  tests/cpp/test_accuracy.cpp
Labels: none

Instantiate all tasks with user config and replicate old api
  README.md
  examples/cpp/README.md
  examples/cpp/main.cpp
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/test_accuracy.cpp
Labels: docs

Use non serialized models for batch so onnx can join in (#318)
  tests/cpp/test_accuracy.cpp
Labels: none

Adds preload tests back in.
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/precommit/CMakeLists.txt
  tests/cpp/precommit/test_sanity.cpp
Labels: build

Adds test_model_config tests partially back
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/precommit/CMakeLists.txt
  tests/cpp/precommit/test_model_config.cpp
  tests/cpp/precommit/test_sanity.cpp
Labels: build

Enable precommit tests in github actions again
  .github/workflows/test_precommit.yml
Labels: build

Disable windows for now
  .github/workflows/test_precommit.yml
Labels: build

Fix examples readme for pretteir
  examples/cpp/README.md
Labels: docs

Don't try to upgrade ultralytics
  .github/dependabot.yml
Labels: build

Version up
  src/python/pyproject.toml
Labels: none

Specify labels attribute type in python
  src/python/model_api/models/anomaly.py
  src/python/model_api/models/classification.py
  src/python/model_api/models/detection_model.py
  src/python/model_api/models/instance_segmentation.py
  src/python/model_api/models/segmentation.py
Labels: none

Add a unit test
  tests/python/unit/test_types.py
Labels: none

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

cpp:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/cpp/*

python:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/python/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "**/*.md"
          - "LICENSE"

build:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - "pyproject.toml"
          - "**/CMakeLists.txt"
