Repository open-edge-platform/model_api, changes with the labels that .github/labeler.yml gives for each.
All labels: cpp, python, tests, docs, build

.github/labeler.yml:

# See help here: https://github.com/marketplace/actions/labeler

cpp:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/cpp/*

python:
  - changed-files:
      - any-glob-to-any-file:
          - model_api/python/*

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/*

docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - "**/*.md"
          - "LICENSE"

build:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".pre-commit-config.yaml"
          - "pyproject.toml"
          - "**/CMakeLists.txt"

Fix type check in test
  tests/python/unit/test_types.py
Labels: none

Fix non str type of labels (#323)
  .github/dependabot.yml
  src/python/model_api/models/anomaly.py
  src/python/model_api/models/classification.py
  src/python/model_api/models/detection_model.py
  src/python/model_api/models/instance_segmentation.py
  src/python/model_api/models/segmentation.py
  src/python/pyproject.toml
  tests/python/unit/test_types.py
Labels: build

Cleanup comment and default arg in example
  examples/cpp/main.cpp
Labels: none

Undo changes to readme
  examples/cpp/README.md
Labels: docs

Remove ignore sections in md files
  README.md
  examples/cpp/README.md
Labels: docs

Switch to a newer prettier fork
  .pre-commit-config.yaml
  README.md
  examples/cpp/README.md
Labels: docs, build

Remove ignore sections in md files (#324)
  .pre-commit-config.yaml
  README.md
  examples/cpp/README.md
Labels: docs, build

README :(
  README.md
Labels: docs

Remove unneccesary pip installs
  .github/workflows/test_precommit.yml
Labels: build

CPP Refactor - Instantiate all tasks with user config and replicate old api (#319)
  .github/workflows/test_precommit.yml
  examples/cpp/main.cpp
  src/cpp/include/tasks/anomaly.h
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/detection.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  tests/cpp/precommit/CMakeLists.txt
  tests/cpp/precommit/test_model_config.cpp
  tests/cpp/precommit/test_sanity.cpp
  tests/cpp/test_accuracy.cpp
Labels: build

Enable parsing resize parameters from model config
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/utils/config.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/preprocessing.cpp
Labels: none

Add a test for MRCNN resize_letterbox
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Read resize from config in ssd
  src/cpp/include/tasks/detection/ssd.h
Labels: none

Fix build
  src/cpp/include/tasks/detection/ssd.h
Labels: none

Prevent anymap from trying to parse u8 type
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: none

Enum to enum class in ssd
  src/cpp/include/tasks/detection/ssd.h
Labels: none

WIP
  examples/cpp/CMakeLists.txt
  examples/cpp/main.cpp
  src/cpp/include/tasks/visual_prompting.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/visual_prompting.cpp
Labels: build

Add keypoint detection
  src/cpp/include/tasks/keypoint_detection.h
  src/cpp/include/tasks/results.h
  src/cpp/src/tasks/keypoint_detection.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Make cpp keep_ratio preprocessing graph identical to python
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/keypoint_detection.cpp
  src/cpp/src/utils/preprocessing.cpp
Labels: none

Restore resize modes for MaskRCNN (#325)
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/preprocessing.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Add keypoint detection model (#327)
  src/cpp/include/tasks/keypoint_detection.h
  src/cpp/include/tasks/results.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/keypoint_detection.cpp
  src/cpp/src/utils/preprocessing.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: none

Trim unused methods in the adapters
  src/cpp/include/adapters/inference_adapter.h
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/src/adapters/openvino_adapter.cpp
Labels: none

Working Segment Anything
  examples/cpp/main.cpp
  src/cpp/include/tasks/segment_anything.h
  src/cpp/include/utils/preprocessing.h
  src/cpp/src/tasks/segment_anything.cpp
Labels: none

Clean up and remove hard coded tensor sizes etc.
  examples/cpp/main.cpp
  src/cpp/include/tasks/segment_anything.h
  src/cpp/include/tasks/segment_anything/mask_predictor.h
  src/cpp/src/tasks/segment_anything.cpp
  src/cpp/src/tasks/segment_anything/mask_predictor.cpp
Labels: none

Adds setting input mask on previous infer low_res_mask output
  examples/cpp/main.cpp
  src/cpp/include/tasks/results.h
  src/cpp/include/tasks/segment_anything/mask_predictor.h
  src/cpp/src/tasks/segment_anything/mask_predictor.cpp
Labels: none

Slightly improve example
  examples/cpp/main.cpp
Labels: none

Satisfy clang format
  examples/cpp/main.cpp
  src/cpp/include/tasks/segment_anything.h
  src/cpp/include/tasks/segment_anything/mask_predictor.h
  src/cpp/src/tasks/segment_anything.cpp
  src/cpp/src/tasks/segment_anything/mask_predictor.cpp
Labels: none

Add bounding box mode to example
  examples/cpp/main.cpp
Labels: none

Trim unused methods in the adapters (#331)
  src/cpp/include/adapters/inference_adapter.h
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/src/adapters/openvino_adapter.cpp
Labels: none

Minor fixes in iseg vis scene
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
Labels: none

Add none check for sseg saliency map visualization
  src/python/model_api/visualizer/scene/segmentation/segmentation.py
Labels: none

Update pre-commit config
  .pre-commit-config.yaml
Labels: build

Update unit tests for scene
  tests/python/unit/visualizer/test_scene.py
Labels: none

Apply pre-commit
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
Labels: none

Add render method to visualizer
  src/python/model_api/visualizer/visualizer.py
  tests/python/unit/visualizer/test_visualizer.py
Labels: none

Del unused imports
  tests/python/unit/visualizer/test_visualizer.py
Labels: none

Fix linter
  tests/python/unit/visualizer/test_visualizer.py
Labels: none

Add support of holes to contours generation
  src/python/model_api/models/result/segmentation.py
  src/python/model_api/models/segmentation.py
Labels: none

Fix logic in case of absence of nested contours
  src/python/model_api/models/segmentation.py
Labels: none

Cleanup python impl
  src/python/model_api/models/segmentation.py
Labels: none
