Repository open-edge-platform/model_api, pull requests merged in 2024-11, with the labels that each got.

#234 Expose inference mode to all tilers
  model_api/cpp/tilers/include/tilers/detection.h
  model_api/cpp/tilers/include/tilers/instance_segmentation.h
  model_api/cpp/tilers/include/tilers/semantic_segmentation.h
  model_api/cpp/tilers/src/detection.cpp
  model_api/cpp/tilers/src/instance_segmentation.cpp
  model_api/cpp/tilers/src/semantic_segmentation.cpp
Labels: cpp

#238 Update labeler
  .github/labeler.yml
Labels: build

#239 Refactor result handling of DetectionResult and InstanceSegResult
  docs/source/python/models/detection_model.md
  docs/source/python/models/instance_segmentation.md
  model_api/python/model_api/models/__init__.py
  model_api/python/model_api/models/detection_model.py
  model_api/python/model_api/models/instance_segmentation.py
  model_api/python/model_api/models/keypoint_detection.py
  model_api/python/model_api/models/result_types/__init__.py
  model_api/python/model_api/models/result_types/detection.py
  model_api/python/model_api/models/result_types/segmentation.py
  model_api/python/model_api/models/ssd.py
  model_api/python/model_api/models/utils.py
  model_api/python/model_api/models/yolo.py
  model_api/python/model_api/tilers/detection.py
  model_api/python/model_api/tilers/instance_segmentation.py
  model_api/python/pyproject.toml
  tests/python/accuracy/test_YOLOv8.py
  tests/python/accuracy/test_accuracy.py
Labels: tests, python, docs
