Repository open-edge-platform/model_api, pull requests merged in 2024-12, with the labels that each got.

#242 Update core API docs: Adapter and Model
  model_api/python/model_api/adapters/inference_adapter.py
  model_api/python/model_api/adapters/onnx_adapter.py
  model_api/python/model_api/adapters/openvino_adapter.py
  model_api/python/model_api/adapters/ovms_adapter.py
  model_api/python/model_api/models/image_model.py
  model_api/python/model_api/models/model.py
Labels: python

#244 🧹 Enable more pre-commit rules
  model_api/python/model_api/adapters/onnx_adapter.py
  model_api/python/model_api/adapters/ovms_adapter.py
  model_api/python/model_api/models/anomaly.py
  model_api/python/model_api/models/classification.py
  model_api/python/model_api/models/instance_segmentation.py
  model_api/python/model_api/models/sam_models.py
  model_api/python/model_api/models/visual_prompting.py
  model_api/python/model_api/tilers/instance_segmentation.py
  model_api/python/model_api/tilers/tiler.py
  model_api/python/pyproject.toml
Labels: python

#206 Switch to tritonclient in OVMS adapter
  .github/workflows/test_precommit.yml
  examples/python/serving_api/README.md
  examples/python/serving_api/run.py
  model_api/python/model_api/adapters/ovms_adapter.md
  model_api/python/model_api/adapters/ovms_adapter.py
  model_api/python/model_api/models/model.py
  model_api/python/pyproject.toml
Labels: python, docs, build

#245 ✨ Visualization Initial Scaffold
  model_api/python/model_api/models/__init__.py
  model_api/python/model_api/models/action_classification.py
  model_api/python/model_api/models/anomaly.py
  model_api/python/model_api/models/classification.py
  model_api/python/model_api/models/detection_model.py
  model_api/python/model_api/models/instance_segmentation.py
  model_api/python/model_api/models/keypoint_detection.py
  model_api/python/model_api/models/result/__init__.py
  model_api/python/model_api/models/result/scene/__init__.py
  model_api/python/model_api/models/result/types/__init__.py
  model_api/python/model_api/models/result/types/anomaly.py
  model_api/python/model_api/models/result/types/base.py
  model_api/python/model_api/models/result/types/classification.py
  model_api/python/model_api/models/result/types/detection.py
  model_api/python/model_api/models/result/types/keypoint.py
  model_api/python/model_api/models/result/types/segmentation.py
  model_api/python/model_api/models/result/types/utils.py
  model_api/python/model_api/models/result/types/visual_prompting.py
  model_api/python/model_api/models/segmentation.py
  model_api/python/model_api/models/ssd.py
  model_api/python/model_api/models/utils.py
  model_api/python/model_api/models/yolo.py
  model_api/python/model_api/visualizer/__init__.py
  model_api/python/model_api/visualizer/layout.py
  model_api/python/model_api/visualizer/primitive.py
  model_api/python/model_api/visualizer/scene.py
  model_api/python/model_api/visualizer/visualizer.py
  model_api/python/pyproject.toml
  tests/python/unit/results/test_cls_result.py
Labels: tests, python
