Repository open-edge-platform/model_api, pull requests merged in 2025-08, with the labels that each got.

#339 Add a simplified mode for contours processing
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/segmentation_model.cpp
  src/python/model_api/models/segmentation.py
Labels: cpp, python

#358 Minor fixes
  README.md
  src/cpp/utils/src/image_utils.cpp
  tests/python/accuracy/prepare_data.py
Labels: tests, cpp, docs

#365 feat: add support for exported models from anomalib
  src/model_api/models/anomaly.py
  src/model_api/models/image_model.py
  src/model_api/models/model.py
Labels: python

#366 chore: build with uv
  .github/workflows/docs.yml
  .github/workflows/pre_commit.yml
  .github/workflows/publish.yaml
  .github/workflows/security-scan.yml
  .github/workflows/test_accuracy.yml
  .github/workflows/test_precommit.yml
  .gitignore
  .pre-commit-config.yaml
  .python-version
  CONTRIBUTING.md
  README.md
  pyproject.toml
  uv.lock
Labels: docs, build

#368 chore(ci): configure dependabot to use semanctic commits
  .github/dependabot.yml
Labels: build

#372 chore(ci): enable Renovate
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/docs.yml
  .github/workflows/pre_commit.yml
  .github/workflows/renovate-config-validator.yml
  .github/workflows/renovate.yml
  .pre-commit-config.yaml
  README.md
Labels: docs, build

#376 fix(ci): move zizmor and bandit checks under `merge_group` trigger
  .github/workflows/pre_commit.yml
  .github/workflows/test_precommit.yml
Labels: build

#378 chore(comments): remove comment in annotations import
  src/model_api/adapters/inference_adapter.py
  src/model_api/adapters/onnx_adapter.py
  src/model_api/adapters/openvino_adapter.py
  src/model_api/adapters/ovms_adapter.py
  src/model_api/adapters/utils.py
  src/model_api/models/classification.py
  src/model_api/models/image_model.py
  src/model_api/models/model.py
  src/model_api/models/sam_models.py
  src/model_api/models/segmentation.py
  src/model_api/models/types.py
  src/model_api/models/utils.py
  src/model_api/models/visual_prompting.py
  src/model_api/visualizer/visualizer.py
Labels: python

#380 chore(ci): enable checking of docs
  docs/source/conf.py
  pyproject.toml
Labels: docs, build

#382 chore: enable checking of styles in examples, tests
  examples/asynchronous_api/run.py
  examples/serving_api/run.py
  examples/synchronous_api/run.py
  examples/visual_prompting/run.py
  examples/zsl_visual_prompting/run.py
  pyproject.toml
  tests/accuracy/conftest.py
  tests/accuracy/prepare_data.py
  tests/accuracy/test_YOLOv8.py
  tests/accuracy/test_accuracy.py
  tests/functional/test_save.py
  tests/precommit/prepare_data.py
  tests/unit/results/test_cls_result.py
  tests/unit/results/test_det_result.py
  tests/unit/results/test_sseg_result.py
  tests/unit/test_utils.py
  tests/unit/visualizer/test_primitive.py
  tests/unit/visualizer/test_scene.py
Labels: tests, build, samples

#383 chore: fix docs building
  .github/workflows/docs.yml
Labels: build

#386 fix: regular expression codeql
  src/model_api/adapters/ovms_adapter.py
  src/model_api/models/model.py
  tests/unit/adapters/test_ovms_adapter.py
  tests/unit/adapters/test_utils.py
  tests/unit/models/test_types.py
Labels: tests, python

#389 test: models from geti_predict used in tests
  tests/accuracy/prepare_data.py
  tests/accuracy/public_scope.json
  tests/precommit/prepare_data.py
Labels: tests

#390 fix: bandit scans
  .github/workflows/test_accuracy.yml
  .isort.cfg
  Doxyfile
  pyproject.toml
  uv.lock
Labels: build
