Repository open-edge-platform/model_api, pull requests merged in 2025-04, with the labels that each got.

#279 Fix cmake deprecation failure coming from 3rd party
  src/cpp/CMakeLists.txt
  tests/cpp/accuracy/CMakeLists.txt
  tests/cpp/cmake/common.cmake
  tests/cpp/precommit/CMakeLists.txt
Labels: tests, cpp, build

#278 Merge ModelBase into ImageModel
  src/cpp/models/include/models/anomaly_model.h
  src/cpp/models/include/models/base_model.h
  src/cpp/models/include/models/classification_model.h
  src/cpp/models/include/models/detection_model.h
  src/cpp/models/include/models/instance_segmentation.h
  src/cpp/models/include/models/keypoint_detection.h
  src/cpp/models/include/models/model_base.h
  src/cpp/models/include/models/segmentation_model.h
  src/cpp/models/src/anomaly_model.cpp
  src/cpp/models/src/base_model.cpp
  src/cpp/models/src/classification_model.cpp
  src/cpp/models/src/detection_model.cpp
  src/cpp/models/src/detection_model_ext.cpp
  src/cpp/models/src/detection_model_ssd.cpp
  src/cpp/models/src/detection_model_yolo.cpp
  src/cpp/models/src/detection_model_yolov3_onnx.cpp
  src/cpp/models/src/image_model.cpp
  src/cpp/models/src/instance_segmentation.cpp
  src/cpp/models/src/keypoint_detection.cpp
  src/cpp/models/src/model_base.cpp
  src/cpp/models/src/segmentation_model.cpp
  src/cpp/py_bindings/py_base.cpp
  src/cpp/py_bindings/py_classification.cpp
  src/cpp/tilers/include/tilers/detection.h
  src/cpp/tilers/include/tilers/instance_segmentation.h
  src/cpp/tilers/include/tilers/semantic_segmentation.h
  src/cpp/tilers/include/tilers/tiler_base.h
  src/cpp/tilers/src/detection.cpp
  src/cpp/tilers/src/instance_segmentation.cpp
  src/cpp/tilers/src/semantic_segmentation.cpp
  src/cpp/tilers/src/tiler_base.cpp
Labels: cpp

#281 Update readme file
  README.md
  docs/source/conf.py
  docs/source/cpp/models/anomaly_model.md
  docs/source/python/models/anomaly.md
  src/python/docs/visual_prompting.md
  src/python/pyproject.toml
Labels: python, docs

#282 Finally cleanup OMZ leftovers
  .github/workflows/publish.yaml
  src/python/model_api/adapters/openvino_adapter.py
  src/python/pyproject.toml
Labels: python, build

#283 Add missing redirect to the main gh page
  .github/workflows/docs.yml
Labels: build

#284 Update ubuntu version in gha docs runner
  .github/workflows/docs.yml
Labels: build

#285 Add badges to readme
  README.md
Labels: docs

#286 Add a contribution guide and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  CONTRIBUTING.md
  README.md
Labels: docs, build

#288 added security.md
  SECURITY.md
Labels: docs
