Repository open-edge-platform/model_api, pull requests merged in 2025-06, with the labels that each got.

#304 Refactor - Implement Classification
  src/cpp/CMakeLists.txt
  src/cpp/include/tasks/classification.h
  src/cpp/include/tasks/classification/resolvers.h
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/tasks/instance_segmentation.h
  src/cpp/include/tasks/results.h
  src/cpp/include/tasks/semantic_segmentation.h
  src/cpp/include/utils/config.h
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/classification/resolvers.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
  src/cpp/src/utils/preprocessing.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: tests, cpp, build

#309 Hide ov::Model from wrappers
  src/cpp/include/adapters/inference_adapter.h
  src/cpp/include/adapters/openvino_adapter.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/anomaly.cpp
  src/cpp/src/tasks/classification.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/tasks/instance_segmentation.cpp
  src/cpp/src/tasks/semantic_segmentation.cpp
Labels: cpp

#315 Merge latest master
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pre_commit.yml
  .github/workflows/publish.yaml
  .github/workflows/scorecards.yml
  .github/workflows/security-scan.yml
  .github/workflows/test_accuracy.yml
  .github/workflows/test_precommit.yml
  .pre-commit-config.yaml
  README.md
  examples/cpp/README.md
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
  src/python/pyproject.toml
Labels: python, docs, build, samples

#310 Support ONNX models via OV
  src/cpp/CMakeLists.txt
  src/cpp/include/tasks/detection/ssd.h
  src/cpp/include/utils/config.h
  src/cpp/src/adapters/openvino_adapter.cpp
  src/cpp/src/tasks/detection.cpp
  src/cpp/src/tasks/detection/ssd.cpp
  src/cpp/src/utils/config.cpp
  tests/cpp/test_accuracy.cpp
  tests/python/accuracy/public_scope.json
Labels: tests, cpp, build
