Repository open-edge-platform/model_api, pull requests merged in 2025-01, with the labels that each got.

#246 Add upload to pypi workflow
  .github/workflows/publish.yaml
  docs/source/guides/index.md
  docs/source/guides/releasing-to-PyPI.md
Labels: docs, build

#247 Version up
  model_api/python/pyproject.toml
Labels: python

#249 Enable linking against OV python package
  .github/workflows/test_precommit.yml
  model_api/cpp/CMakeLists.txt
Labels: cpp, build

#248 Visualization part 2
  model_api/python/model_api/models/__init__.py
  model_api/python/model_api/models/action_classification.py
  model_api/python/model_api/models/result/__init__.py
  model_api/python/model_api/models/result/anomaly.py
  model_api/python/model_api/models/result/base.py
  model_api/python/model_api/models/result/classification.py
  model_api/python/model_api/models/result/detection.py
  model_api/python/model_api/models/result/keypoint.py
  model_api/python/model_api/models/result/segmentation.py
  model_api/python/model_api/models/result/types/__init__.py
  model_api/python/model_api/models/result/utils.py
  model_api/python/model_api/models/result/visual_prompting.py
  model_api/python/model_api/visualizer/__init__.py
  model_api/python/model_api/visualizer/layout.py
  model_api/python/model_api/visualizer/primitive.py
  model_api/python/model_api/visualizer/scene.py
  model_api/python/model_api/visualizer/scene/__init__.py
  model_api/python/model_api/visualizer/scene/anomaly.py
  model_api/python/model_api/visualizer/scene/classification.py
  model_api/python/model_api/visualizer/scene/detection.py
  model_api/python/model_api/visualizer/scene/keypoint.py
  model_api/python/model_api/visualizer/scene/scene.py
  model_api/python/model_api/visualizer/scene/segmentation.py
  model_api/python/model_api/visualizer/scene/visual_prompting.py
  model_api/python/model_api/visualizer/visualizer.py
  tests/python/unit/visualizer/__init__.py
  tests/python/unit/visualizer/conftest.py
  tests/python/unit/visualizer/test_layout.py
  tests/python/unit/visualizer/test_primitive.py
Labels: tests, python

#251 Add bounding box primitive
  model_api/python/model_api/visualizer/__init__.py
  model_api/python/model_api/visualizer/primitive.py
  tests/python/unit/visualizer/test_primitive.py
Labels: tests, python

#254 Add Polygon Primitive
  src/python/model_api/visualizer/__init__.py
  src/python/model_api/visualizer/primitive/__init__.py
  src/python/model_api/visualizer/primitive/bounding_box.py
  src/python/model_api/visualizer/primitive/overlay.py
  src/python/model_api/visualizer/primitive/polygon.py
  src/python/model_api/visualizer/primitive/primitive.py
  tests/python/unit/visualizer/test_primitive.py
Labels: tests, python

#256 Add Label Primitive
  src/python/model_api/visualizer/__init__.py
  src/python/model_api/visualizer/layout/flatten.py
  src/python/model_api/visualizer/layout/hstack.py
  src/python/model_api/visualizer/primitive/__init__.py
  src/python/model_api/visualizer/primitive/label.py
  src/python/model_api/visualizer/scene/scene.py
  tests/python/unit/visualizer/test_primitive.py
Labels: tests

#257 Add Anomaly scene
  src/python/model_api/visualizer/layout/flatten.py
  src/python/model_api/visualizer/primitive/label.py
  src/python/model_api/visualizer/scene/anomaly.py
  src/python/model_api/visualizer/scene/classification.py
  src/python/model_api/visualizer/scene/detection.py
  src/python/model_api/visualizer/scene/scene.py
  src/python/model_api/visualizer/visualizer.py
  tests/python/unit/visualizer/test_scene.py
Labels: tests

#260 Fix PR labeler
  .github/labeler.yml
Labels: build

#259 Add Classification And Detection Scene
  src/python/model_api/models/result/detection.py
  src/python/model_api/visualizer/layout/hstack.py
  src/python/model_api/visualizer/primitive/overlay.py
  src/python/model_api/visualizer/scene/classification.py
  src/python/model_api/visualizer/scene/detection.py
  tests/python/unit/visualizer/test_scene.py
Labels: tests

#261 Add Keypoint and Instance Segmentation support in visualizer
  examples/python/visualization/README.md
  examples/python/visualization/run.py
  src/python/model_api/visualizer/__init__.py
  src/python/model_api/visualizer/primitive/__init__.py
  src/python/model_api/visualizer/primitive/keypoints.py
  src/python/model_api/visualizer/primitive/polygon.py
  src/python/model_api/visualizer/scene/__init__.py
  src/python/model_api/visualizer/scene/detection.py
  src/python/model_api/visualizer/scene/keypoint.py
  src/python/model_api/visualizer/scene/scene.py
  src/python/model_api/visualizer/scene/segmentation.py
  src/python/model_api/visualizer/scene/segmentation/__init__.py
  src/python/model_api/visualizer/scene/segmentation/instance_segmentation.py
  src/python/model_api/visualizer/scene/segmentation/segmentation.py
  src/python/model_api/visualizer/visualizer.py
  tests/python/unit/visualizer/test_primitive.py
  tests/python/unit/visualizer/test_scene.py
Labels: tests, python, docs

#262 Run accuracy tests with py 3.12
  .github/workflows/test_accuracy.yml
  src/cpp/models/include/models/results.h
Labels: cpp, build
